<footer class="site-footer animate-slide-up delay-3">
    <div class="social-row">
        <a href="https://github.com/carnaby/carnaby.sk" target="_blank" class="social-link hover-emerald">GitHub</a>
        <a href="https://x.com/jozef_sokol" target="_blank" class="social-link hover-amber">Twitter/X</a>
        <a href="https://www.youtube.com/@jozefsokol3820" target="_blank" class="social-link hover-rose">YouTube</a>
        <a href="https://soundcloud.com/jozef-sokol" target="_blank" class="social-link hover-green">Spotify</a>
    </div>
    <p>&copy; <span id="year">
            <%= new Date().getFullYear() %>
        </span> Jozef Sokol. Code & Music.</p>
</footer>